*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    background-color: hsl(30, 38%, 92%);
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}

.card-container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.flex-container{
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    overflow: hidden;
    max-width: 40em;
}

.image1{
    display: block;
    max-width: 50%;
}

.image2{
    display: none;
}

.product-information{
    max-width: 50%;
    background-color: white;
}

.category{
    font-weight: 300;
    color: hsl(228, 12%, 48%);
    margin-top: 25px;
    margin-left: 20px;
    letter-spacing: 8px;
    font-size: 12px;
}

.item{
    font-family: 'Fraunces', serif;
    color: hsl(212, 21%, 14%);
    font-weight: 900;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 45px;
}

.description{
    font-weight: 300;
    color: hsl(228, 12%, 48%);
    margin-top: 15px;
    margin-left: 20px;
    font-size: 20px;
    font-weight: 100;
}

.prices{
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    margin-top: 10px;
    align-items: center;
}

.new-price{
    font-family: 'Fraunces', serif;
    color: hsl(158, 36%, 37%);
    font-size: 40px;
    font-weight: 800;
    
}

.old-price{
    position: relative;
    left: 20px;
    color:hsl(228, 12%, 48%);
}

.cart{
    display: flex;
    margin-top: 20px;
    margin-left: 30px;
    width: 80%;
    border-radius: 5px;
    height: 3em;
    background-color: hsl(158, 36%, 37%);
    justify-content: center;
    align-items: center;

}

.cart .add-to-cart{
    color: white;
    margin-left: 10px;
    font-weight: 600;
}

.cart .cart-icon{
    height: 20px;
}


@media screen and (max-width:700px){
    .flex-container{
        margin-top: 5vh;
        margin-bottom: 5vh;
        flex-direction: column;
        max-width: 90vw;
    }

    /* switch images */
    .image1{
        display: none;
    }

    .image2{
        display: block;
    }

    .product-information{
        max-width: 90vw;
    }

    .item{
        font-size: 35px;
    }

    .description{
        font-size: 18px;
        line-height: 1.5;
    }

    .cart{
        margin-bottom: 5vh;
    }
}